@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
      font-family: darling;
      src: url(../utils/Darling\ Coffee.otf);
  }
  @font-face {
    font-family: easter;
    src: url(../utils/Easter-Sublimation.otf);
}

}

.backgroundImg {
  background: url(../utils/background2.png) no-repeat center center fixed; 
  background-size: cover;
  min-height: 100vh;
}

.text-shadow {
  text-shadow: 2px 2px #fe81bb
}

