@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImg {
  background: url(../utils/background.jpg) no-repeat center center fixed; 
  background-size: cover;
  min-height: 100vh;
}
